---
---

// colors

$color-primary: #ca1b22;
$color-primary-low: #ed5361;
$color-secondary: #59963b;
$color-secondary-low: #99cc66;
$color-tertiary: #006bb6;
$color-tertiary-low: #4099d4;
$color-quadrary: #edc31c;
$color-quadrary-low: #f6db87;
$color-text: hsl(0, 0%, 5%);
$color-text-low: hsl(0, 0%, 65%);
$color-text-inverse: hsl(0, 0%, 95%);

$bp-text-breaks-column: 'screen and (min-width: 55em)';

// control the FOUT
.wf-loading {
  visibility: hidden;
}

.wf-active {
  visibility: visible;
}

// base styles

body {
  background:
    url('/img/bg-overlay.png') top left repeat fixed,
    url('/img/yule-log.gif') center center no-repeat fixed
  ;
  background-size:
    auto,
    cover
  ;
  color: $color-text;
  font-family: 'jaf-bernina-sans-condensed';
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  margin: 1em 1em 4em;
}

strong,
b {
  font-family: 'jaf-bernina-sans-condensed';
  font-style: normal;
  font-weight: 700;
}

a {
  color: $color-primary;

  &:hover {
    color: $color-primary-low;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'litania';
  font-style: normal;
  font-weight: 400;
}

h1 {
  color: $color-primary;
}

h2 {
  color: $color-secondary;
}

img {
  border-radius: .25em;
  max-width: 100%;

  article & {
    display: block;
    margin: 0 auto;
  }
}

// Helpers

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Blocks

.container {
  margin: 0 auto;
  max-width: 30em;
}

.header-logo {
  width: 125%;

  @media #{$bp-text-breaks-column} {
    margin-left: -25%;
    max-width: none;
    width: 150%;
  }
}

.header-subtitle {
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  @media #{$bp-text-breaks-column} {
    font-size: 3em;
    margin-top: -1.5em;
  }
}

.img-right {
  float: right;
  margin: 0 0 1em 1em;
  width: 33%;
}

.weekend--past {
  color: $color-text-low;

  > h2 {
    color: $color-secondary-low;

    &:after {
      content: ' (Past)';
      color: $color-primary-low;
    }
  }

  img {
    opacity: 0.35;
  }
}

.weekend--next {
  background-color: $color-primary;
  color: $color-text-inverse;
  padding: .125em 1em;
  border-radius: .5em;

  > h2 {
    color: $color-quadrary;

    &:after {
      content: ' (Up Next!)';
      color: $color-tertiary-low;
    }
  }

}
