---
---

// colors

$primary-color: #ca1b22;
$primary-color-low: #ed5361;
$secondary-color: #59963b;
$secondary-color-low: #99cc66;
$tertiary-color: #006bb6;
$tertiary-color-low: #4099d4;
$quadrary-color: #edc31c;
$quadrary-color-low: #f6db87;
$text-color: hsl(0, 0%, 5%);

$bp-text-breaks-column: 'screen and (min-width: 55em)';

// control the FOUT
.wf-loading {
  visibility: hidden;
}

.wf-active {
  visibility: visible;
}

// base styles

body {
  background:
    url('/img/bg-overlay.png') top left repeat fixed,
    url('/img/yule-log.gif') center center no-repeat fixed
  ;
  background-size:
    auto,
    cover
  ;
  color: $text-color;
  font-family: 'jaf-bernina-sans-condensed';
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  margin: 1em 1em 4em;
}

strong,
b {
  font-family: 'jaf-bernina-sans-condensed';
  font-style: normal;
  font-weight: 700;
}

a {
  color: $primary-color;

  &:hover {
    color: $primary-color-low;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'litania';
  font-style: normal;
  font-weight: 400;
}

h1 {
  color: $primary-color;
}

h2 {
  color: $secondary-color;
}

img {
  max-width: 100%;

  article & {
    display: block;
    margin: 0 auto;
  }
}

// Helpers

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Blocks

.container {
  margin: 0 auto;
  max-width: 30em;
}

.header-logo {
  width: 125%;

  @media #{$bp-text-breaks-column} {
    margin-left: -25%;
    max-width: none;
    width: 150%;
  }
}

.header-subtitle {
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  @media #{$bp-text-breaks-column} {
    font-size: 3em;
    margin-top: -1em;
  }
}
